.detail-container {
  padding: 4rem;
}

.detail-title {
  text-align: center;
  padding: 2rem;
}

li {
  list-style: none;
  font-size: larger;
  padding: 1rem;
}

.detail-list:nth-child(odd) {
  background-color: #334e8e;
}
